<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
{%if course.pk is 1%}
<h1><a href="https://www.youtube.com/watch?v=WGJJIrtnfpk">{{course.coursesname}}</a></h1>
<h2>{{course.insname}}</h2>
<ul>
    {% for x in Allcourses.set.all %}
    <li>{{x.ct}}</li>
    {% endfor %}

</ul>
{% elif course.pk is 2 %}
<h1><a href="https://www.youtube.com/watch?v=hBh_CC5y8-s"></a></h1>
<h1>{{course.coursesname}}</h1>
{% endif %}
{% if error_message %}<p><strong>{{error_message}}</strong></p>
{% endif%}
<from action = "{%url 'Newbie:yourchoice' course.id%}"
      method = "post">
    {% csrf_token %}
    {% for choice in course.details_set.all%}
    <input type="radio" id="choice" id="choice{{ forloop.counter}}" value="{choice.id}}">
    <label for ="choice{{forloop.counter}}">{{choice.ct}}</label><br>
    {%endfor%}
    <input type="submit" value="Submit">
</from>
</body>
</html>
